<div>
      <input type="text" [(ngModel)]="productObj.productName" placeholder="name">
      <input type="text" [(ngModel)]="productObj.productCategory" placeholder="category">
      <input type="text" [(ngModel)]="productObj.productDescription" placeholder="description">
      <input type="number" [(ngModel)]="productObj.productPrice" placeholder="price">
      <input type="number" [(ngModel)]="productObj.productCountInStock" placeholder="count in stock">

      <button class="w3-button w3-black" (click)="generateProduct()" style="float:inherit;">Create</button>
      <h2>Products</h2>

      <ul  class="w3-ul w3-border">
        
      <li *ngFor="let product of products" >

        {{product.name}}
        &nbsp;&nbsp;
        Category:{{product.category}},&nbsp;Price: {{product.price}},&nbsp;In Stock:{{product.countInStock}}

        <div class="actions" style="float:right;">
            <a  class="w3-button w3-black" >Update</a>
            <a (click)="deleteProduct(product._id)" class="w3-button w3-black" >Delete</a>
        </div>

    